<!-- Topbar -->
<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

    <!-- Sidebar Toggle (Topbar) -->
    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
        <i class="fa fa-bars"></i>
    </button>



    <!-- Topbar Navbar -->
    <ul class="navbar-nav ml-auto">

        <li class="nav-item dropdown no-arrow mx-2">
            <a class="text-dark nav-link dropdown-toggle" href="/" target="_blank">
                <i class="bi bi-building mr-2"></i>
                Web Site!
            </a>
        </li>
        <li class="nav-item dropdown no-arrow mx-2">
            <a class="text-danger nav-link dropdown-toggle" href="/logout">
                <i class="fas fa-power-off mr-2"></i>
                Log Out!
            </a>
        </li>

    </ul>

</nav>