 <!-- Sidebar -->
 <ul class="navbar-nav bg-dark sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href=".">
        <i class="bi bi-code-slash"></i>
        <div class="sidebar-brand-text mx-2">sadeSoftware<sup style="color: #ffee00">admin</sup></div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href=".">
            <i class="bi bi-house"></i>
            <span>Dashboard</span></a>
    </li>


    <!-- Divider -->
    <hr class="sidebar-divider">


    <!-- Nav Item - About -->
    <li class="nav-item">
        <a class="nav-link" href="/admin/about">
            <i class="bi bi-file-person"></i>
            <span>About</span></a>
    </li>

    <!-- Nav Item - Certificate -->
    <li class="nav-item">
        <a class="nav-link" href="/admin/certificates">
            <i class="bi bi-award"></i>
            <span>Certificate</span></a>
    </li>

    <!-- Nav Item - Project -->
    <li class="nav-item">
        <a class="nav-link" href="/admin/projects">
            <i class="bi bi-kanban"></i>
            <span>Project</span></a>
    </li>

    <!-- Nav Item - Resume -->
    <li class="nav-item">
        <a class="nav-link" href="/admin/resume">
            <i class="bi bi-file-earmark"></i>
            <span>Resume</span></a>
    </li>

    <!-- Nav Item - Social Media -->
    <li class="nav-item">
        <a class="nav-link" href="/admin/social-media">
            <i class="bi bi-person-lines-fill"></i>
            <span>Social Media</span></a>
    </li>



    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>



</ul>
<!-- End of Sidebar -->