<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="container">
      <h3>Yasin Günay</h3>
      <p>Software Developer</p>
      <div class="social-links">
        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
        <a href="#" class="github"><i class="bi bi-github"></i></a>
        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
        <a href="#" class="youtube"><i class="bi bi-youtube"></i></a>
        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
      </div>
      <div class="copyright">
        &copy; Copyright <strong><span><a href="/">sadeSoftware</a></span></strong>
      </div>
    </div>
  </footer><!-- End Footer -->